html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url(../css/Img/HomeImage.jpg);
}
header {
    display: flex;
    justify-content: end;
    
}
h1 {
    color: red;
    opacity: 0.8;
    margin-top: 40px;
    margin-bottom: 2%
}
p{
    
    color: aliceblue;
}
button{
    background-color:black;
    border-radius: 7px;
    color: red;
    margin-top: 40px;
    margin-left: 150px;
    opacity:0.9;
    width: 200px;
    height: 35px;

}
.button_p {
    color: brown;
    
}
.navegacao {
    display: flex;
    flex-direction: row;
}
.lista-cab{
    display: flex;
}
.text-home {
    font-family: SimSun-ExtB;
    color: crimson;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 25px;
    text-decoration: none;
    font-weight: 700;
    transition: 1s;
}
    .text-home:hover {
        color: antiquewhite;
        font-size: 30px;
        left: 60%;
    }