@{
    ViewData["Title"] = "Home Page";
}

<body>
    <header>
        <h1>Desenvolvedor Back-End</h1>
    </header>
    <main>
        <p>Meu nome é Talles Crhistian Arriel, tenho 23 anos, sou de Três Pontas (MG).</br>
           Graduado em Ánalise e Desenvolviemento de Sistemas,</br> 
           atualmente desenvolvedor Back-End utilizando a linguagem C#,</br>
           na qual tenho experiência com EF Core, .Net, API Rest e SQL Server,</br>
          onde foram utilizadas
           em diversos projetos pessoais que possuo em meu portifólio profissional.
        </p>
        <button/>
    </main>
</body>
