<h1>Entre em Contato</h1>
<ul>
    <li class="link-contato" ><a class="contato" href=mailto:"tallescrhistiandev@gmail.com">Email: tallescrhistiandev@gmail.com </a></li>
    <li class="link-contato" ><a class="contato" href=tel:"35998455279">Telefone: (35)99845-5279 </a></li>
    <li class="link-contato" ><a class="contato" href="https://www.linkedin.com/in/tallescrhistian/">Linkedin: Talles Crhistian Arriel
</a></li>

</ul>
